<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% today = DateTime.now() %>
    <p>The date is <%= today.strftime("%A, %B %d, %Y") %></p>
  </body>
</html>
