<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <<p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>
    </body>
</html>
<!-- ERB tags to create a variable name. This variable should store the name Joe. Then, using ERB tags, say "Goodbye Joe" in an h1 tag. -->
