<!doctype html5>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <% today = Time.now %>
    <!-- <% case today.wday
      when 1
        day = "Monday"
      when 2
        day = "Tuesday"
      when 3
        day = "Wednesday"
      when 4
        day = "Thursday"
      when 5
        day = "Friday"
      when 6
        day = "Saturday"
      when 0
        day = "Sunday"
      end%> -->
    <p><%= "The date is "+ today.strftime("%A") + ", " + today.strftime("%B") + " " + today.mday.to_s + ", " + today.year.to_s%>
  </body>
</html>
