<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% date = Time.now() %>
    <p> The date is <%= date.strftime("%A, %B %d, %Y") %></p>
  </body>
</html>
